<%= link_to("<< Back To List" , pages_path , :class => 'btn btn-primary') %><br><br>

<%= form_group_for( f, :book_id , label: false )  do %>
    <label>Book</label>
    <%= f.select(:book_id , @books.map{|book| [book.name , book.id]} , {} , :class => "form-control") %>
<% end %>

<%= form_group_for( f, :title , label: false )  do %>
        <label>Page Title</label>
        <%= f.text_field(:title , :class => "form-control") %>
<% end %>  

<%= form_group_for( f, :position , label: false )  do %>
    <label>Position</label>
    <%= f.select(:position , 1..@page_count , {} , :class => "form-control") %>
<% end %>

<%= form_group_for( f, :visible , label: false )  do %>
    <label>Availabe</label>
    <%= f.check_box(:visible ) %>
<% end %>